<a style="float: right", href="/dealerships/new">New Dealership</a>
<h1 style="float: left; width: 100%">All Dealerships</h1>

<% @dealerships.each do |dealership| %>
  <h3 style=border-top: 1px solid black>Dealer Name: <a href="/dealerships/<%= dealership.id %>"><%= dealership.name %></a></h3>
  <h4>Dealer City: <%= dealership.city %></h4>
  <h5>This dealership was created at: <%= dealership.created_at %>
  <div class='update'>
  <a href="/dealerships/<%= dealership.id %>/edit">Update this dealership</a>
  </div>
  <% if dealership.service_department %>
    <h4>This dealership has a service department!</h4>
  <% end %>
<% end %>