<style>
.topbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overall_bar {
  float: left;
}

.bar_item {
  display: block;
  padding: 8px;
  padding-right: 2em;
  background-color: #dddddd;
}
</style>
<ul class="topbar">
<li class="overall_bar"><a class="bar_item" href="/">Back To Home</a></li>
<li class="overall_bar"><a class="bar_item" href="/dealerships">Back To All Dealerships</a></li>
<li class="overall_bar"><a class="bar_item" href="/cars">Back To All Cars</a></li>
</ul>
<div>
<h3>Dealer Name: <%= @dealership.name %></a></h3>
<a href="/dealerships/<%= @dealership.id %>/edit">Update this dealership</a>
<h4>Dealer City: <%= @dealership.city %></h4>
<h4>This dealership has <%= @car_count %> cars in inventory</h4>
<% if @dealership.service_department %>
  <h4>This dealership has a service department!</h4>
<% end %>
<a href="/dealerships/<%= @dealership.id %>/cars">Explore this dealership's inventory</a>
</div>
</html>
