<form action="/cars/<%= @car.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <h2>Edit this car:</h2>
  <label for="name">Make and Model:</label><br>
  <input type='text' id="name" name='cars[name]' value='<%= @car.name %>'/><br/>
  <label for="vin">VIN:</label><br>
  <input type='text' id="vin" name='cars[vin]' value='<%= @car.vin %>'/><br/>
  <label for="color">Color:</label><br>
  <input type='text' id="color" name='cars[color]' value='<%= @car.color %>'/><br/>
  <label for="year">Year:</label><br>
  <input type='number' id="year" name='cars[year]' value='<%= @car.year %>'/><br/>
  <label for="mileage">Mileage:</label><br>
  <input type='number' id="mileage" name='cars[mileage]' value='<%= @car.mileage %>'/><br/>
  <label for='true'>This car is available.</label><br>
  <input type='radio' id='true' name='cars[available]' <% if @car.available %>checked="checked"><% end %><br>
  <label for='false'>This car is not available.</label><br>
  <input type='radio' id='false' name='cars[available]' <% unless @car.available %>checked="checked"><% end %><br>
  <input type='submit' value='Update Car'/>
</form>