<% @cars.each do |car| %>
  <% if car.available %>
    <h3 style=border-top: 1px solid black><a href="/cars/<%= car.id %>"><%= car.name %></a></h3>
      <h4>This <%= car.name %> is available!</h4>
    <ul>
      <li>Year: <%= car.year %></li>
      <li>Mileage: <%= car.mileage %></li>
      <li>Color: <%= car.color %></li>
      <li>VIN: <%= car.vin %></li>
      <li> Location: <%= car.dealership_id %></li>
    </ul>
    <div class='update'>
      <a href="/cars/<%= car.id %>/edit">Update this car</a>
      <form action="/cars/<%= car.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete this car"/>
    </form>
    </div>
  <% end %>
<% end %>