<style>
.topbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overall_bar {
  float: left;
}

.bar_item {
  display: block;
  padding: 8px;
  padding-right: 2em;
  background-color: #dddddd;
}
</style>
<ul class="topbar">
<li class="overall_bar"><a class="bar_item" href="/">Back To Home</a></li>
<li class="overall_bar"><a class="bar_item" href="/dealerships">Back To All Dealerships</a></li>
<li class="overall_bar"><a class="bar_item" href="/cars">Back To All Cars</a></li>
</ul>
<% @cars.each do |car| %>
  <h3><a href="/cars/<%= car.id %>"><%= car.name %></a></h3>
  <% if car.available %>
    <h4>This <%= car.name %> is available!</h4>
  <% end %>
  <ul>
    <li>Year: <%= car.year %></li>
    <li>Mileage: <%= car.mileage %></li>
    <li>Color: <%= car.color %></li>
    <li>VIN: <%= car.vin %></li>
    <li> Location: <%= car.dealership_id %></li>
  </ul>
<% end %>